Мы создаём saas платформу для аналитики поведения студентов работодателями и университетом. Студент отсллеживает и записывается на мероприятия, курсы, и вакансии, строит roadmap карьерного развития, который рекомендует куда ему надо записаться что бы повысить уровень. Работодатель создает вакансии, отслеживает какие студенты интересуются какими вакансиями. Университет получает аналитику об активности своих студентов на платформе, создает внутренние мерпориятия и уведомления. 
Когда пишешь код, будь на 100% уверен, что ты не ломаешь ничего существующего.